@import '../../../styles/variables';

.dashboard-wrap{
    width: 100%;
    padding: 4rem 1rem 2rem 1rem;
    .dashboard-header{
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }
    .dashboard-content{
        ul{
            margin: 1rem;
            li{
                margin: 0 0 0.5rem 0.5rem;
                list-style: circle;
                span{
                    display: block;
                    cursor: pointer;
                }
            }
        }
    }
}