@import '../../../../styles/variables';

.component-section-wrap{
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
    .component-section-header{
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }
    .component-section-content{
        width: 100%;
        .row{
            .row-item{
                display: inline-block;
                width: 20rem;
                margin: 0 1rem 0 0;
                vertical-align: top;
                .list-group{
                    border: solid 1px var(--theme-border);
                    border-radius: 0.25rem;
                    a{
                        display: block;
                        padding: 1rem 0.5rem;
                        border-bottom: solid 1px var(--theme-border);
                        color: var(--theme-color);
                        text-decoration: none;
                        &:last-child{
                            border: none;
                        }
                    }
                }
            }
        }
    }
}