<div class="component-subsection-wrap">
    <div class="component-subsection-header">
        Difference between change and ngmodelchange
    </div>
    <div class="component-subsection-content">
        <div class="search-box">
            <input [value]="foo" (change)="changeFn($event)">
            <p>Changes with (change) event: {{ foo }}</p>
            <input [ngModel]="bar" (ngModelChange)="modelChangeFn($event)">
            <p>Changes with ngModelChange: {{ bar }}</p>
        </div> 
    </div>
</div>
