@import "./mode/default.scss";
@import "./mode/dark.scss";

$regularFont: "Graphik-Regular-Web";
$lightFont: "Graphik-Light-Web";
$mediumFont: "Graphik-Medium-Web";
$semiBoldFont: "Graphik-Semibold-Web";
$boldFont: "Graphik-Bold-Web";