@import '../../../../styles/_variables';

.row {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0;
    .row-items{
      padding: 0 1rem;
      h5{
        padding: 0 0 0.5rem 0;
        font-size: 1.25rem;
      }
      p{
        padding: 0.5rem 0;
      }
      .btn {
        padding: 0.5rem 0.75rem;
        margin: 0.25rem 0.25rem;
        border: solid 1px var(--theme-border);
        border-radius: 0.25rem;
        background: none;
        &.btn-primary {
          background: #0300cc;
          color: #ffffff;
        }
        &.btn-danger {
          background: #ff0000d5;
          color: #ffffff;
        }
      }
    }
  }
  