@import '../../../../styles/variables';

.component-subsection-wrap{
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    .component-subsection-header{
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }
    .component-subsection-content{
        width: 100%;
        .search-box {
            position: relative;
        }
    }
}