@import '../../../../../styles/variables';

.component-section-wrap{
    width: 100%;
    padding: 0rem 1rem 1rem 1rem;
    .component-section-header{
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }
    .component-section-content{
        width: 100%;
        .form-group{
            label{
                margin: 0 0 0.5rem 0;
                display: block;
            }
            input{
                width: 100%;
                padding: 0.25rem 0.5rem;
                margin: 0 0 0.5rem 0;
                border-radius: 0.25rem;
                border: solid 1px;
            }
            select{
                width: 100%;
                padding: 0.25rem 0.5rem;
                margin: 0 0 0.5rem 0;
                border-radius: 0.25rem;
                border: solid 1px;
            }

        }
        .btn {
            padding: 0.5rem 0.75rem;
            margin: 0.25rem 0 0 0;
            border: none;
            color: #ffffff;
            &.btn-primary {
              background: #0300cc;
            }
            &.btn-danger {
              background: #ff0000d5;
            }
          }
    }
}