<div class="component-section-wrap">
  <h3>Yay, I'm home!</h3>
  <!-- <div class="component-section-header">Home</div> -->
  <div class="component-section-content">
    <!-- <p>child Home</p> -->
    <a
      href="https://academind.com/tutorials/understanding-rxjs/"
      target="_blank"
      rel="noopener noreferrer"
      >Understanding RxJS</a
    >
    <br />
    <a
      href="https://academind.com/tutorials/rxjs-6-what-changed/"
      target="_blank"
      rel="noopener noreferrer"
      >What's new in RxJS 6</a
    >
    <br />
    <a
      href="https://www.learnrxjs.io/"
      target="_blank"
      rel="noopener noreferrer"
      >Learn RxJS</a
    >
    <br />
    <a
      href="https://rxjs-dev.firebaseapp.com/"
      target="_blank"
      rel="noopener noreferrer"
    >Official RxJS Docs</a>
  </div>
</div>
