@import '../../../../styles/variables';

.component-section-wrap{
    width: 100%;
    padding: 4rem 1rem 2rem 1rem;
    background: var(--theme-background);
    color: var(--theme-color);
    .dialog-main-header {
        font-size: 0.9rem;
        font-family: $semiBoldFont;
        // color: #FFF;
        padding: 1.5rem 1rem;
        // background: #a100ff;
        position: relative;
        span {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            cursor: pointer;
            font-size: 2rem;
            // color: #FFF;
        }
    }
    .component-section-header{
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }
    .component-section-content{
        width: 100%;
    }
}