@import '../../../../styles/variables';

.component-section-wrap{
    width: 100%;
    padding: 4rem 1rem 2rem 1rem;
    .component-section-header{
        font-size: 1rem;
        margin: 0 0 1rem 0;
    }
    .component-section-content{
        width: 100%;
        .btn {
            padding: 0.5rem 0.75rem;
            border: none;
            color: #ffffff;
            &:disabled {
              opacity: 0.5;
            }
            &.btn-primary {
              background: #0300cc;
            }
            &.btn-danger {
              background: #ff0000d5;
            }
          }
    }
}