<div class="component-section-wrap">
    <div class="component-section-header">
        Search Functions
    </div>
    <div class="component-section-content">
        <div>
            <app-search-with-delay></app-search-with-delay>
        </div>
        <div>
            <app-search-with-pipe></app-search-with-pipe>
        </div>
        <div>
            <app-search-with-pipe-array></app-search-with-pipe-array>
        </div>
        <div>
            <app-search-with-option></app-search-with-option>
        </div>
    </div>
</div>
