<div class="component-subsection-wrap">
    <div class="component-subsection-header">
        Search with Pipe
    </div>
    <div class="component-subsection-content">
        <div class="custom-search">
            <div class="form-item">
              <label for="name">Name </label>
              <input type="text" id="name" [(ngModel)]="name"/>
            </div>
            <div class="form-item">
              <label for="cat">Category </label>
              <input type="text" id="cat" [(ngModel)]="category"/>
            </div>
            <div *ngIf="name || category">
              <table>
                <tr>
                  <th>Name</th>
                  <th>Category</th>
                </tr>
                <!-- <tr *ngFor="let item of array | search: [name.value, category.value]: ['name', 'catName'] ;"> -->
                <tr *ngFor="let item of array | search: name | search: category ">
                  <td>{{item.name}}</td>
                  <td>{{item.catName}}</td>
                </tr>
              </table>
            </div>
          </div>
    </div>
</div>
